git+https://github.com/sphinx-toolbox/email@translator
default-values>=0.5.0
domdf-sphinx-theme>=0.3.0
extras-require>=0.2.0
flake8-dunder-all>=0.0.4
html-section>=0.1.0
pygments>=2.7.4,<=2.15.1
pytest>=6.0.0
pytest-regressions>=2.0.2
seed-intersphinx-mapping>=0.3.1
sphinx-autofixture>=0.2.1
sphinx-copybutton>=0.2.12
sphinx-debuginfo>=0.1.0
sphinx-licenseinfo>=0.1.1
sphinx-notfound-page>=0.7.1
sphinx-pyproject>=0.1.0
sphinxcontrib-httpdomain>=1.7.0
sphinxemoji>=0.1.6
toctree-plus>=0.5.0
