include __pkginfo__.py
include LICENSE
include requirements.txt
prune **/__pycache__
include sphinx_toolbox/more_autodoc/regex.css
recursive-include sphinx_toolbox *.pyi
include sphinx_toolbox/py.typed
