coverage>=5.1
coverage-pyver-pragma>=0.0.6
domdf-python-tools[testing]>=1.6.0
flake8-dunder-all>=0.0.4
hypothesis>=5.35.4
iniconfig!=1.1.0,>=1.0.1
pprint36>=3.9.0.2
pytest>=6.0.0
pytest-cov>=2.8.1
pytest-httpserver>=0.3.5
pytest-randomly>=3.3.1
pytest-timeout>=1.4.2
sphinx-inline-tabs>=2020.10.19b4
sphobjinv>=2.0.1
